*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
:root{
  --black:#000000;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: linear-gradient(90deg, rgba(57,57,57,0.6979166666666667) 36%, rgba(57,57,57,0.6979166666666667) 100%);
  --salmon:#ed998b;
  --amarillo:#ffddae;
  --degrade-background:linear-gradient(90deg, rgba(237,153,139,1) 35%, rgba(255,221,174,1) 100%);
  --font-monospace:'IBM Plex Mono', monospace;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  line-height: 1.6;
  background-color: var(--black);
  font-family: var(--font-monospace);
}

#particles-js{
  height:500px;
  width: 100%;
  position: absolute;
  z-index:-1;
}
.logo a{
 color:var(--just-white);
 font-size: 22px;
 font-weight: 600;
 text-decoration: none;
}

.logo a span{
  background: var(--degrade-background);
 -webkit-background-clip: text;
  color: transparent;
  font-weight:normal;
  transition: all 0.3s ease;
}
.ham{
  cursor:pointer;
  border:none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top:15px;
  right:2px;
}
.ham span{
  display: block;
  background-color: var(--just-white);
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}
.logo{
  padding-left: 25px;
}
nav{
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 0;
}
.enlaces-menu{
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 92vh;
margin:0;
padding: 0;
width: 100%;
display: none;
}
.enlaces-menu li{
  width: 100%;
  text-align: center;
  padding: 20px;
  list-style-type: none;
  transition: 0.3s;
}
.enlaces-menu.activado{
  display: flex;
}
.enlaces-menu :hover{
  background: var(--degrade-background);
}
.enlaces-menu li a{
   color: var(--just-white);
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
}
.enlaces-menu li a:hover{
   background:transparent;
}
.home_container{
  width: 90%;
   z-index:99;
  color: var(--off-white);
  margin-inline-start: 25px;
  margin-top: 15px;
  margin-block-end: 80px;
}

.home_container-content{
  width: 90%;
  min-width: 320px;
  max-width: 900px;
}
.home_container-content h2{
  font-size:28px;
}
.home_container-content h1{
  font-size: 34px;
  margin-block:15px;
}
.skillsContainer{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.skills{
  display: flex;
  width: 90%;
  width: 57px;
  height: 57px;
  margin-inline: 15px;
  margin-block: 5px;
}
.skillsContent{
text-align: center;
font-size: 14px;
}
.home_container-content h1 p{
  display: inline-block;
  color: var(--salmon);
  font-size: 36px;
  -webkit-text-stroke: 1px #ffddae;
}

.container{
  width: 90%;
  margin: 0 auto;
  color: var(--off-white);
  margin-block-end: 55px;
  margin-block-start: 80px;
  text-align: center;
}

i{
  color:var(--salmon);
  margin: 17px;
}
.title{
  text-align: center;
  color: var(--salmon);
   font-size: 26px;
}
.title2{
  text-align: center;
  color: var(--salmon);
   font-size: 26px;
}
.subtitle{
  text-align: center;
  font-size: 16px;
  margin: 10px;
}
.paragraph{
  font-size: 14px;
  color: var(--just-white);
  margin-inline:7px;
  margin-block-end: 10px;
}
.container_img {
   width:240px;
   min-height:1px;
   margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 6px;
  margin-block-start: 10px;
}
.project{
  width: 90%;
  margin: auto;
  margin-block: 50px;
}
.project-description{
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap:16px;
  margin-inline-start: 15px;
  color: white;
}
.project-title{
  font-size: 24px;
  font-weight: bold;
  color: var(--amarillo);
  text-decoration: none;
}
.project-image{
  width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  gap:16px;
  width: 90%;
  margin: 0 auto;


}
.form label{
  display: flex;
  flex-direction: column;
  color: var(--just-white);
  font-weight: bold;

}

hr{
  margin-block-start: 10px;
}
.form input, .form textarea{
  border:2px solid var(--salmon);
  border-radius: 8px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  margin-block-start: 8px;
   background: var(--black);
   color: var(--just-white);

}

.footer{
  width: 95%;
  color: var(--just-white);
  text-align: center;
  margin-block-start: 20px;
}
.footer .redes{
  margin-block:20px 10px;
}
.primary-full{
  margin:0 auto;
  margin-block: 5px 30px;
}
.buttonContact{
  margin-block-start: 15px;
  margin-inline-start: 3px;
  width: 150px;
  height: 15px;
}
.buttonContact a{
  text-decoration: none;
  color: var(--off-white);
}
.icons{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  align-self: flex-start;
  margin-inline-start:5px;

}
.buttonForm{
  margin:auto;
  margin-block-start: 10px;
  margin-block-end: 40px;
}
.buttonContact,
.buttonContact::after {
 padding: 16px 20px;
 font-size: 14px;
 background: linear-gradient(45deg, transparent 5%, #ed998b 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #ffddae;
 outline: transparent;
 position: relative;
 text-decoration: none;

}

.buttonContact::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #ffddae 3%, #ffddae 5%, #ed998b 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #ffddae;
 clip-path: var(--slice-0);
}

.buttonContact:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
.contactForm{
  margin: auto;
  margin-block-end: 40px;
}
.draw-border {
 box-shadow: inset 0 0 0 4px var(--salmon);
 color: var(--salmon);
 transition: color 0.25s 0.0833333333s;
 position: relative;
 text-decoration: none;
}

.draw-border::before, .draw-border::after {
 border: 0 solid transparent;
 box-sizing: border-box;
 content: "";
 pointer-events: none;
 position: absolute;
 width: 0;
 height: 0;
 bottom: 0;
 right: 0;
}

.draw-border::before {
 border-bottom-width: 4px;
 border-left-width: 4px;
}

.draw-border::after {
 border-top-width: 4px;
 border-right-width: 4px;
}

.draw-border:hover {
 color: var(--amarillo);
}

.draw-border:hover::before, .draw-border:hover::after {
 border-color: var(--amarillo);
 transition: border-color 0s, width 0.25s, height 0.25s;
 width: 100%;
 height: 100%;
}

.draw-border:hover::before {
 transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
 transition-delay: 0s, 0.25s, 0s;
}

.btn {
 background: none;
 border: none;
 cursor: pointer;
 line-height: 1.5;
 font: 700 17px "Roboto Slab", sans-serif;
 padding: 1em 2em;
 letter-spacing: 0.05rem;
}

.btn:focus {
 outline: 2px dotted var(--salmon);
}
.technology-container{
  display: flex;
   margin: auto;
}
.technology{
  width:100px;
  height: 25px;
  background: var(--salmon);
  color: #000000;
  border-radius: 4px;
  margin-inline: 5px;
}
